.everything {
    margin-top: 1vh;
    margin: 1vh;
    position: relative;
    z-index: 1;
}

header {
    padding: 5vh;
}

.SearchBar {
    overflow: auto;
    position: absolute;
    z-index: 3;
}

/*#search-list {
   overflow:auto;
   position: relative;
   z-index: 2;
}*/


.content {
    padding: 2vh;
    margin: 10px auto 20px;
    /* text-align: center; */
}





/* Gain + Lose */


.gain-items, .lose-items {
    padding: 0 5%;
}

.gain-items span.item-symbol, .gain-items h1 {
    color: rgb(20, 180, 100);
}

.lose-items span.item-symbol, .lose-items h1 {
    color: rgb(180, 20, 100);
}

.gainlose-data {
    display: flex;
    align-self:center;
    justify-content: center;
    max-height: 40vh;
    overflow-y: scroll;
    
}

.item-symbol{
    font-weight: bold;
}

.item-name {
    color:darkgray;
    font-size: smaller;
}

footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex-column;
    position: absolute;
    bottom: -40%;
}


#news-img {
    height: 10vh;
    width: 10vh;
}

#underlined {
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.total-top {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
}

.company-info {
    margin: 10px;
    padding: 5px;
    text-align-last: center;
}

.formulario {
    border: 1px solid gray;
    padding: 2%;
    border-radius: 1%;
    position: relative;
    z-index: 1;
    
}

#floating-msg{
    position:absolute;
    z-index: 3;
}

#text-right {
    text-align: right;
}


.our_info {
    padding: 1%;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#up-front{
    position: absolute;
    z-index: 100;
    margin-left: 38%;
    vertical-align: middle;
}
/* user profile view */

/* .profile {                  
    max-width: 70%;
} */

.greeting {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    margin: 2vh;
}    

.greeting img {
    max-width: 10vw;
    padding: 0 1vw;
    
}

.portfolio-section {
    display: flex;
    flex-direction: row;
    /* margin: 5vw; */
    
}

.five-vw-margin-lr{
    margin: 0 5vw;
}

.two-vh-margin-ud{
    padding: 2vh 0;
}


#checkboxes-list{
    padding: 12vh;
    align-content: center;
    justify-content: center;
}

.tiny {
    font-size: 0.7em;
    font-weight: normal;
    color: red

}